table {
	border-collapse: separate;
	border-spacing: 0 5px;
}

thead th, tbody td {
	text-align: center;
}

tr td:first-child, tr th:first-child {
	border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}

tr td:last-child, tr th:last-child {
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.modal {
	text-align: center;
	padding: 0 !important;
}

.modal:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -4px;
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}

.nav-tabs > li, .nav-pills > li {
    float:none !important;
    display:inline-block !important;
    *display:inline !; /* ie7 fix */
     zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center !important;
}


@media screen and (min-width: 1370px) {
	.img-banner {
		height: 230px !important;
		width: 900px !important;
	}
}

@media screen and (max-width:1369px) {
	.img-banner {
		max-width: 25% !important;
	}
	.title-banner{
		margin-top: 0%;
		margin-left: 0px;
	}
}