#content {
	background: #0091EA;
	color: white;
}

.main {
	background: #f2f2f2;
}

.color1 {
	background: #34495e;
	color: white;
}

aside {
	background: #c0392b;
}

footer {
	background: #0091EA !important;
	color: white !important;
}

thead th {
	background-color: #006DCC;
	color: white;
}

tbody td {
	background-color: #EEEEEE;
}

input[type="text"]:disabled {
	border: none;
	background: transparent;
}

.navbar-collapse.in {
	overflow-y: hidden;
}

@font-face {
	font-family: spacefr;
	src: url('/resources/font/spacefr.ttf');
}

