<!DOCTYPE html>
<html>
<head>
<title>Sistema de Rastreabilidad</title>
<meta http-equiv="Content-Type" content="text/html;  charset=UTF-8" />
<meta content="width=device-width,initial-scale=1,maximum-scale=1"
	name="viewport" />
<link rel="shortcut icon" type="image/x-icon"
	href="/resources/img/favicon.ico" />
<link href="/resources/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<link href="/resources/css/style.css" rel="stylesheet" type="text/css" />
<link href="/resources/css/layout.css" rel="stylesheet" type="text/css" />
<link href="/resources/css/sticky-footer.css" rel="stylesheet" />
<script type="text/javascript"
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<style>
.horizontal-collapse {
	height: 70px;
}

.navbar-collapse.in {
	overflow-y: hidden;
}
</style>
</head>

<body data-ng-app="app">

	<div class="bs-docs-header" id="content" tabindex="-1">
		<div class="container">
			<img alt="Logotipo de la empresa" src="/resources/img/banner.png"
				class="img-responsive center-block img-banner" />
			<h1 class="text-center"
				style="margin-top: 10px; font-family: spacefr;">Sistema de
				Rastreabilidad</h1>
		</div>
	</div>




	<nav class="navbar navbar-default" data-ng-controller="navController"
		id="navSiet" style="margin-bottom: 0px;">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle"
					data-ng-click="isCollapsed = !isCollapsed">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" data-collapse="isCollapsed">
				<ul class="nav navbar-nav">
					<li><a data-ng-click="onClickListener()" href="#/">Inicio</a></li>
					<li><a data-ng-click="onClickListener()" href="#modulo_patio">Patios</a></li>
					<li><a data-ng-click="onClickListener()" href="#modulo_estiba">Estibas</a></li>
					<li><a data-ng-click="onClickListener()"
						href="#modulo_inspeccion">Inspección</a></li>
					<li><a data-ng-click="onClickListener()" href="#modulo_taller">Taller</a></li>
					<li><a data-ng-click="onClickListener()"
						href="#modulo_plataforma">Plataforma</a></li>
					<li><a data-ng-click="onsClickListener()" href="#modulo_pozo">Pozo</a></li>
					<li><a data-ng-click="onClickListener()"
						href="#modulo_reporte">Reporte</a></li>
				</ul>
			</div>
		</div>
	</nav>



	<div class="container">
		<div class="row">

			<div data-ng-view="">
				<section class="container-fluid"></section>
			</div>
		</div>




	</div>

	<footer class="footer" style="margin-top: 20px">
		<div class="container">
			<p class="text-center">&copy; Copyright 2016, NEW TECH SYSTEMS</p>
		</div>
	</footer>

	<script type="text/javascript" src="resources/js/angular.min.js"></script>
	<script type="text/javascript" src="resources/js/angular-route.min.js"></script>
	<script type="text/javascript" src="resources/js/route.js"></script>
	<script type="text/javascript" src="resources/js/controller.js"></script>
	<script type="text/javascript"
		src="resources/js/ui-bootstrap-tpls.min.js"></script>
</body>
</html>