<meta http-equiv="Content-Type" content="text/html;  charset=UTF-8" />
<link href="/resources/css/bootstrap.min.css" rel="stylesheet"
	type="text/css" />
<div class="list-group">
	<div class="panel-heading">
		<h3>Administración de Reportes</h3>
	</div>
	<div class="panel-body" style="height: 315px;">

		<table class="table table-striped">
			<thead>
				<tr>
					<th colspan="2">Espacio</th>
					<th colspan="2">Lugar</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div class="form-check">
							<label class="form-check-label"> <input type="radio"
								name="espacio" class="form-check-input" data-ng-model="espacio"
								data-ng-change="espacioChange(true)" value="true" /> Patio
							</label>
							
						</div>
						<div class="form-check">
							<label class="form-check-label"> <input type="radio"
								name="espacio" class="form-check-input" data-ng-model="espacio"
								data-ng-change="espacioChange(false)" value="false" />
								Plataforma
							</label>
						</div>
					</td>
					<td><select class="form-control" data-ng-model="model1"
						data-ng-disabled="select1"  data-ng-change="changeType()"
						data-ng-options="isEmpty(item.descPati)?item.descPlat:item.descPati for item in tipo">
							<option value="" selected="selected">-- Seleccione una
								opción --</option>
					</select></td>
					<td><select class="form-control" data-ng-model="model"
						data-ng-disabled="isEmpty(model1) && checkType"
						data-ng-options="item.label for item in data">
							<option value="" selected="selected">-- Seleccione una
								opción --</option>
					</select></td>
					<td></td>
				</tr>
			</tbody>
			<thead>
				<tr>
					<th colspan="2">No.de Serie</th>
					<th colspan="2">Fecha</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="checkbox" class="form-check-input"
						data-ng-model="checkNoSeri" /></td>
					<td><input type="text" class="form-control" maxlength="45"
						onblur="javascript:this.value = this.value.toUpperCase();"
						onkeyup="javascript:this.value = this.value.toUpperCase();"
						data-ng-disabled="!checkNoSeri" /></td>
					<td><input type="checkbox" class="form-check-input"
						data-ng-model="checkDate" /></td>
					<td><input class="form-control" type="date" value="2011-08-19"
						data-ng-disabled="!checkDate" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="button"
							class="btn btn-small btn-danger ">Generar</button></td>
					<td colspan="2"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script type="text/javascript" src="resources/js/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="resources/js/widgets.js"></script>
<script type="text/javascript" src="resources/js/bootstrap.min.js"></script>